@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* 옵션 - 대학교,정부,관공서에서는 사용 금지*/
  outline-style: none;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
html {
  /* 가로로 스크롤 안생기게 */
  overflow-x: hidden;
}
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}
.br-20 {
  border-radius: 20px;
}

.bt-wrap {
  display: flex;
  /* 버튼 추가 예비용 */
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.bt-more {
  display: block;
  padding: 11px 20px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.1s;
  border-radius: 20px;
}

.bt-more:hover {
  background: #000;
  color: #fff;
}

.wrap {
  /* 좌표의 기준설정 */
  position: relative;
  /* header를 고정시켜서 */
  padding-top: 70px;
}

.inner {
  width: calc(100% - 30px);
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
